body{
    background-color: #FFFFFF  ;
  }
.centrado{
    text-align: center;
    vertical-align: middle;
}
  html{
    font-size: 90%;
  }
   nav{
    padding: 20px 50px;
    display: flex;
    align-items: normal;
    justify-content: space-between;
  }
  ul li{
    display: inline-block;
    list-style: none;
    font-family: 'Share Tech', sans-serif;
    padding: 6px 20px;
    font-weight: 500;
    font-size: 1.7rem;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  ul li:hover{
    background-color: #1E90FF;
    border-radius: 25px;
    text-decoration: none;
  }
  .logo{
    height: 80px;
    width: 400px;
    right: 4%;
    bottom: 4%;
  }